@font-face {
  font-family: "Ruhl";
  src: url(/FrankRuhlLibre-Regular.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto Condensed", sans-serif;
  scroll-behavior: smooth;
}

:root {
  font-size: 62.5%;
}

h1 {
  font-size: 2.5rem;
}

li,
label,
button,
input,
p,
a {
  font-size: 2.5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.5rem;
}

h4,
h5 {
  font-size: 2rem;
}

ul {
  list-style: none;
}

a {
  color: #2c2c2c;
  text-decoration: none;
}

.main-head {
  width: 95;
  margin: 0 0 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  min-height: 10vh;
  width: 60%;
  flex-wrap: wrap;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex: 1 1 10rem;
}

.logo h1 {
  margin: 2rem;
}

.logo img {
  margin-left: 8rem;
}

ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex: 1 1 40rem;
}

.intro {
  min-height: 90vh;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.intro h2 {
  font-size: 8rem;
  padding-top: 2rem;
  background: linear-gradient(to left, #38d39f, #38a4d3);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  display: inline-block;
}

.intro h3 {
  font-size: 4rem;
  padding: 2rem 0rem;
}

.intro p {
  color: #2c2c2c;
  padding: 1rem 0rem;
}

.intro .intro-social {
  padding-top: 5rem;
}

.intro .intro-social a {
  margin-right: 4rem;
}

.intro .intro-social img {
  height: 6rem;
}

.splash {
  position: absolute;
  top: 0%;
  right: 0%;
  height: 100%;
  z-index: -1;
}

.man {
  top: 10.5%;
  right: 0%;
  position: absolute;
  height: 90vh;
}

.active {
  background: #2c2c2c;
  color: white;
  padding: 1rem 3rem;
  border-radius: 2rem;
}

.intro-text,
.intro-images {
  flex: 1 1 40rem;
}

#plant-right {
  animation: plant 1.5s ease infinite alternate 0.5s;
}

#plant-left {
  animation: plant 1.5s ease infinite alternate;
}

#me {
  animation: me 2s ease-in-out infinite alternate;
  transform-origin: bottom;
}

#clock-arrow {
  animation: clock 1.6s  infinite linear;
  transform-box: fill-box;
  transform-origin: bottom;
}

@keyframes me {
  from {
    transform: rotateZ(-5deg);
  }
  to {
    transform: rotateZ(5deg);
  }
}

@keyframes plant {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-30%);
  }
}

@keyframes clock {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

.projects {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  min-height: 90vh;
  text-align: center;
  flex-wrap: wrap;
}

.projects h2 {
  margin: 5rem;
}

.projects .travelly,
.projects .elena,
.projects .edge-ledger {
  flex: 1 1 40rem;
}

.projects .edge-ledger {
  flex: 1;
  width: 10%;
}

.form-section {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 3rem;
}

.form-section form {
  padding: 3rem 10rem;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2), 0px 20px 40px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 2rem;
}

.form-section form input, .form-section form textarea {
  margin: 2rem;
}

.form-section form input:focus, .form-section form textarea:focus {
  outline: 2px solid black;
}

.form-section form textarea {
  font-family: "Ruhl" sans-serif;
  font-size: 2rem;
}

.form-section form button {
  width: 100%;
  padding: 2rem;
  background: #154353;
  color: white;
}

.form-section form button:focus {
  background: #089faa;
}

footer {
  background: #154353;
  min-height: 10vh;
  padding: 0% 5%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

footer h4 {
  flex: 1 1 40rem;
  color: white;
}

footer ul {
  flex: 1 1 40rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

@media screen and (max-width: 1334px) {
  html {
    font-size: 53%;
  }
  .splash {
    display: none;
  }
  svg {
    width: 80%;
  }
  nav {
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  svg {
    height: 60%;
    width: 60%;
  }
  .main-head {
    width: 100%;
  }
  .intro .intro-text {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
  }
  nav .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex: 1 1 20rem;
  }
  ul {
    flex: 1 1 60rem;
    margin: 2rem 0rem;
  }
  .intro-social {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .intro-social a {
    text-align: center;
    margin: 2rem;
  }
  .intro-images {
    text-align: center;
  }
  .elena,
  .travelly,
  .edge-ledger {
    flex: 1 1 50rem;
  }
  .elena img,
  .travelly img,
  .edge-ledger img {
    width: 100%;
    height: 100%;
  }
  form {
    padding: 0rem;
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */